<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="total-field"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.totalfield.entity.Product</class>
        <class>com.company.totalfield.entity.Service</class>
        <class>com.company.totalfield.entity.OrderProductItem</class>
        <class>com.company.totalfield.entity.OrderServiceItem</class>
        <class>com.company.totalfield.entity.Order</class>
    </persistence-unit>
</persistence>
